@import "variables.css";
@import "normalize.css";
@import "baseline.css";

.wrapper {
  display: block;
  margin: 0 auto;
  max-width: var(--site-max-width);
  padding: 0 var(--fluid-gap);
  width: 100%;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 75vh;
  padding: var(--gap) 0;

  h2 {
    align-items: center;
    color: var(--color-blue-700);
    display: flex;
    font-weight: 400;
    margin-bottom: calc(var(--fluid-gap) * 2);

    &::before {
      background-color: var(--color-pink-500);
      border-radius: 4px;
      content: "";
      height: 2px;
      margin-right: calc(var(--gap) / 2);
      width: 4ch;
    }
  }

  ul {
    color: var(--color-blue-600);
    display: flex;
    font-size: var(--font-size-sm);
    gap: var(--fluid-gap);
  }

  a {
    @media (hover: hover) {
      padding-bottom: calc(var(--gap) / 6);
      position: relative;

      &::after {
        background-color: var(--color-blue-200);
        content: "";
        height: 2px;
        left: 0;
        opacity: 0;
        position: absolute;
        transform: translateY(0.25em);
        transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1);
        top: 100%;
        width: 100%;
      }

      &:hover {
        &::after {
          opacity: 1;
          transform: translateY(0);
        }
      }

      &:focus-visible {
        &::after {
          display: none;
        }
      }
    }
  }
}

.projects {
  display: flex;
  flex-direction: column;
  gap: calc(var(--fluid-gap) * 1.5);
}

.project-card {
  background-color: var(--project-card-bg);
  border-radius: 6px;
  display: flex;
  flex-direction: column-reverse;
  gap: var(--fluid-gap);
  padding: var(--fluid-gap);
  position: relative;

  &[data-theme="high-contrast"] {
    color: var(--color-white);
  }

  @media (hover: hover) {
    transition: transform 350ms ease;
    will-change: transform;

    &:hover {
      transform: scale(1.025);

      @media (prefers-reduced-motion) {
        transform: none;
      }
    }
  }

  @media (--md-viewport) {
    align-items: end;
    flex-direction: row;
    justify-content: space-between;
  }
}

.project-meta {
  color: currentColor;
  flex-shrink: 0;

  a::after {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  ul {
    display: flex;
    font-size: var(--font-size-sm);
  }

  li:not(:last-of-type)::after {
    content: "•";
    margin: 0 calc(var(--gap) / 3);
  }

  @media (--md-viewport) {
    flex-basis: 30%;
  }
}

.project-image {
  background-color: var(--color-white);
  border-radius: inherit;
  display: flex;
  overflow: hidden;
  padding: calc(var(--fluid-gap) / 1.5);

  img {
    border-radius: inherit;
    max-width: 600px;
  }
}

.footer {
  align-items: center;
  display: flex;
  font-size: var(--font-size-sm);
  justify-content: space-between;
  padding-top: calc(var(--fluid-gap) * 6);
  padding-bottom: var(--gap);

  ul {
    align-items: center;
    display: flex;
    gap: calc(var(--gap) / 6);
    line-height: 1;
  }

  a {
    --icon-link-size: 44px;

    align-items: center;
    border-radius: 4px;
    display: inline-flex;
    height: var(--icon-link-size);
    justify-content: center;
    width: var(--icon-link-size);

    @media (hover: hover) {
      transition: background-color 0.3s ease;

      &:hover {
        background-color: var(--color-blue-100);
      }
    }
  }
}

/**
 * Typography utilities.
 */

.h1 {
  font-size: var(--font-size-xxxl);
}

.h2 {
  font-size: var(--font-size-xxl);
}

.h3 {
  font-size: var(--font-size-xl);
}

.h4 {
  font-size: var(--font-size-lg);
}

.h5 {
  font-size: var(--font-size-md);
}

.h6 {
  font-size: var(--font-size-base);
}

/**
 * Spacing utilities.
 */

.gap-tiny {
  margin-bottom: calc(var(--gap-fluid) / 4);
}

.gap-small {
  margin-bottom: calc(var(--gap-fluid) / 2);
}

.gap-base {
  margin-bottom: var(--gap-fluid);
}

.gap-large {
  margin-bottom: calc(var(--fluid-gap) * 2);
}

.gap-huge {
  margin-bottom: calc(var(--fluid-gap) * 4);
}
