@import "variables.css";
@import "normalize.css";
@import "baseline.css";

.wrapper {
  display: block;
  margin: 0 auto;
  max-width: var(--site-max-width);
  padding: 0 var(--spacing-unit-small);
  padding: 0 clamp(var(--spacing-unit-small), 2.5vw, var(--spacing-unit));
  width: 100%;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
  padding: var(--spacing-unit) 0;

  h1 {
    letter-spacing: 0.025em;
  }

  p {
    align-items: center;
    color: var(--colour-3);
    display: flex;
    margin-bottom: var(--spacing-unit-large);

    &::before {
      background-color: var(--colour-6);
      border-radius: 4px;
      content: "";
      display: inline-block;
      height: 2px;
      margin-right: var(--spacing-unit-small);
      width: 3ch;
    }
  }

  ul {
    color: var(--colour-3);
    display: flex;
    font-size: smaller;
    gap: var(--spacing-unit);
  }

  a {
    border-bottom: 1px solid var(--colour-4);
    position: relative;

    &::after {
      border-bottom: 1px solid var(--colour-3);
      content: "";
      display: block;
      left: 0;
      position: absolute;
      transform: scaleX(0);
      /* transform-origin: left center; */
      transition: transform 0.3s ease;
      top: 100%;
      width: 100%;
    }

    &:hover {
      &::after {
        transform: scaleX(1);
      }
    }
  }
}

.project-card {
  background-color: var(--project-card-bg);
  border-radius: 6px;
  display: flex;
  flex-direction: column-reverse;
  padding: var(--spacing-unit-medium);
  position: relative;

  &[data-theme="high-contrast"] {
    color: var(--colour-1);
  }

  &:not(:last-of-type) {
    margin-bottom: var(--spacing-unit-medium);
  }

  @media (--md-viewport) {
    align-items: end;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--spacing-unit);

    &:not(:last-of-type) {
      margin-bottom: var(--spacing-unit);
    }
  }

  @media (hover: hover) {
    transition: transform 0.3s ease;
    will-change: transform;

    &:hover {
      transform: scale(1.025);

      @media (prefers-reduced-motion) {
        transform: none;
      }
    }
  }
}

.project-meta {
  color: currentColor;
  flex-shrink: 0;

  a::after {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  ul {
    display: flex;
    font-size: smaller;
  }

  li:not(:last-of-type)::after {
    content: "•";
    margin: 0 var(--spacing-unit-small);
  }

  @media (--md-viewport) {
    flex-basis: 30%;
    margin-right: var(--spacing-unit);
  }
}

.project-image {
  background-color: var(--colour-1);
  border-radius: inherit;
  display: flex;
  margin-bottom: var(--spacing-unit);
  overflow: hidden;
  padding: var(--spacing-unit-medium);

  img {
    border-radius: inherit;
  }

  @media (--md-viewport) {
    margin-bottom: 0;
  }
}

.footer {
  align-items: center;
  display: flex;
  font-size: smaller;
  justify-content: space-between;

  ul {
    align-items: center;
    display: flex;
    gap: var(--spacing-unit-small);
    line-height: 1;
  }

  a {
    display: inline-block;
    transition: color 0.3s ease;

    &:hover {
      color: var(--colour-6);
    }
  }
}

/**
 * Typography utilities.
 */

.h1 {
  font-size: var(--font-size-3);
  font-size: clamp(var(--font-size-3), 4.5vw, var(--font-size-1));
}

.h2 {
  font-size: var(--font-size-4);
  font-size: clamp(var(--font-size-4), 4.5vw, var(--font-size-2));
}

.h3 {
  font-size: var(--font-size-5);
  font-size: clamp(var(--font-size-5), 4.5vw, var(--font-size-3));
}

.h4 {
  font-size: var(--font-size-6);
  font-size: clamp(var(--font-size-6), 4.5vw, var(--font-size-4));
}

.h5 {
  font-size: var(--font-size-7);
  font-size: clamp(var(--font-size-7), 4.5vw, var(--font-size-5));
}

.h6 {
  font-size: var(--font-size-8);
  font-size: clamp(var(--font-size-8), 4.5vw, var(--font-size-6));
}

/**
 * Spacing utilities.
 */

.spacing-tiny {
  margin-bottom: var(--spacing-unit-tiny);
}

.spacing-small {
  margin-bottom: var(--spacing-unit-small);
}

.spacing-base {
  margin-bottom: var(--spacing-unit);
}

.spacing-large {
  margin-bottom: var(--spacing-unit-large);
}

.spacing-huge {
  margin-bottom: var(--spacing-unit-huge);
}

.spacing-auto {
  margin-bottom: auto;
}

.spacing-none {
  margin-bottom: 0;
}

/**
 * Hide visually but make content available to screen readers: https://shorturl.at/jOW47
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *	  causes content to wrap 1 word per line: https://shorturl.at/cpu27
 */

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* [1] */
}
