@import "variables.css";
@import "normalize.css";
@import "baseline.css";

.wrapper {
  display: block;
  margin: 0 auto;
  max-width: var(--site-max-width);
  padding: 0 var(--spacing-unit);
  width: 100%;
}

/**
 * Typography utilities.
 */

.h1 {
  font-size: var(--font-size-3);
  font-size: clamp(var(--font-size-3), 4.5vw, var(--font-size-1));
}

.h2 {
  font-size: var(--font-size-4);
  font-size: clamp(var(--font-size-4), 4.5vw, var(--font-size-2));
}

.h3 {
  font-size: var(--font-size-5);
  font-size: clamp(var(--font-size-5), 4.5vw, var(--font-size-3));
}

.h4 {
  font-size: var(--font-size-6);
  font-size: clamp(var(--font-size-6), 4.5vw, var(--font-size-4));
}

.h5 {
  font-size: var(--font-size-7);
  font-size: clamp(var(--font-size-7), 4.5vw, var(--font-size-5));
}

.h6 {
  font-size: var(--font-size-8);
  font-size: clamp(var(--font-size-8), 4.5vw, var(--font-size-6));
}

/**
 * Spacing utilities.
 */

.spacing-tiny {
  margin-bottom: var(--spacing-unit-tiny);
}

.spacing-small {
  margin-bottom: var(--spacing-unit-small);
}

.spacing-base {
  margin-bottom: var(--spacing-unit);
}

.spacing-large {
  margin-bottom: var(--spacing-unit-large);
}

.spacing-huge {
  margin-bottom: var(--spacing-unit-huge);
}

.spacing-auto {
  margin-bottom: auto;
}

.spacing-none {
  margin-bottom: 0;
}

/**
 * Hide visually but make content available to screen readers: https://shorturl.at/jOW47
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *	  causes content to wrap 1 word per line: https://shorturl.at/cpu27
 */

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* [1] */
}
