@custom-media --md-viewport (min-width: 768px);

:root {
  /**
   * Colours.
   */

  --color-white: #ffffff;

  --color-blue-50: #f6f7f9;
  --color-blue-100: #ecedf2;
  --color-blue-200: #d5d7e2;
  --color-blue-300: #b1b7c8;
  --color-blue-400: #868faa;
  --color-blue-500: #677190;
  --color-blue-600: #525a77;
  --color-blue-700: #454b63;
  --color-blue-800: #3a3f52;
  --color-blue-900: #343746;
  --color-blue-950: #22242f;

  --color-pink-50: #fef1f8;
  --color-pink-100: #fde6f3;
  --color-pink-200: #fdcde7;
  --color-pink-300: #fda4d2;
  --color-pink-400: #fb6bb3;
  --color-pink-500: #f652a0;
  --color-pink-600: #e51d72;
  --color-pink-700: #c70f58;
  --color-pink-800: #a41049;
  --color-pink-900: #891240;
  --color-pink-950: #540322;

  /**
   * Widths.
   */

  --site-max-width: 1200px;

  /**
   * Spacing.
   */

  --gap: 24px;
  --fluid-gap: clamp(16px, 2.5vw, 24px);

  /**
   * Typography.
   */

  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

  --base-line-height: 1.6;

  /* https://www.fluid-type-scale.com */
  --font-size-sm: clamp(16px, 0.16vw + 15.67px, 18px);
  --font-size-base: clamp(18px, 0.21vw + 17.33px, 20px);
  --font-size-md: clamp(21.6px, 0.35vw + 20.47px, 25px);
  --font-size-lg: clamp(25.92px, 0.56vw + 24.14px, 31.25px);
  --font-size-xl: clamp(31.1px, 0.83vw + 28.45px, 39.06px);
  --font-size-xxl: clamp(37.32px, 1.2vw + 33.49px, 48.83px);
  --font-size-xxxl: clamp(44.79px, 1.69vw + 39.37px, 61.04px);
}
